html { width:100%; height:100% }
body { min-width:1200px; }
.header .top_menu { width: 1200px; min-width: 1200px; margin: 0 auto; height: 35px; text-align: right; font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
    color: #353535;
    background: #fff;}